<!-- home.html -->
{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/css.css' %}" rel="stylesheet" />
       <!-- Include html5-qrcode.min.js -->
       <script src="{% static 'html5-qrcode.min.js' %}"></script>


</head>
<body>
    <h1>Welcome to the Home Page</h1>


        <!-- Add a button for scanning the barcode -->
        <button type="button" id="scanButton">Scan Product</button>

<!-- 


        {% if product %}
        <h2>{{ product.name }}</h2>
        Display the product image
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 300px;">
        {% endif %}
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>EAN Barcode:</strong> {{ product.barcode }}</p>

        {% if product.category == 'unit' %}
            <p><strong>Stock Quantity:</strong> {{ product.stock_quantity }}</p>
        {% elif product.category == 'weight' %}
            <p><strong>Weight:</strong> {{ product.weight }} kg</p>
        {% endif %}
        
        {% else %}
        <p><strong>Product not available.</strong></p>
        {% endif %} 

 -->

    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Redirect to scan_logic.html when the "Scan Product" button is clicked
        document.getElementById("scanButton").addEventListener("click", function () {
            window.location.href = "{% url 'scan_view' %}";
        });
    </script>
</body>
</html>
