{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <form method="post" action="{% url 'checkout:checkout' %}" class="row g-3">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
        {% endif %}
        <div class="col-md-8">
            <h1 class="mb-5">Checkout</h1>

            <div class="mb-4">
                <h2 class="mb-3">Contact Information</h2>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="id_first_name" class="form-label">First Name</label>
                        <input id="id_first_name" name="first_name" value="{{ user.first_name }}">
                    </div>
                    <div class="col-md-6">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        <input id="id_last_name" name="last_name" value="{{ user.last_name }}">
                    </div>
                    <div class="col-12">
                        <label for="id_email" class="form-label">Email</label>
                        <input id="id_email" name="email" value="{{ user.email }}">
                    </div>
            
                
                    <div class="col-12">
                        <label for="id_phone" class="form-label">Phone</label>
                        {{ form.phone }}
                    </div>
                    <!-- Add more fields if needed -->
                </div>
            </div>

            <div class="mb-4">
                <h2 class="mb-3">Payment Information</h2>
                <div class="form-check">
                    {{ form.payment_method }}
                    <label class="form-check-label" for="id_payment_method">
                        {{ form.payment_method.label_tag }}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-light p-4 rounded">
                <h2 class="mb-4">Summary</h2>
                <!-- Display order details here -->
                {% for item in cart %}
                    <p>{{ item.product.name }} x {{ item.quantity }} - {{ item.price }}</p>
                {% endfor %}
                <p class="fw-bold">Total: {{ cart.get_total_price }}</p>
            </div>
        </div>

        <div class="col-12 mt-4">
            <button class="btn btn-primary">
                Confirm Checkout
            </button>
        </div>
    </form>
</div>
{% endblock %}

