{% extends 'base.html'%}
{% block content%}
{% csrf_token %}
<Section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
   
        </br>  </br>
                <h1 class="text-center mb-4">Search for a Product</h1>

                <!-- Add a button for scanning the barcode -->
                <button type="button" id="scanButton" class="btn btn-primary">Scan Product</button>

                <form action="{% url 'product:home_view' %}" method="GET" class="mt-4">

                    <div class="form-group">

                        <label for="barcode">Enter Barcode:</label>

                        <input type="text" id="barcode" name="barcode" required class="form-control">

                    </div>

                    <button type="submit" class="btn btn-primary mt-2">Search</button>

                </form>
                
                <br/>
                {% if product %}
                    <div class="card mt-5">
                        <div class="card-header">
                            <h2>{{ product.name }}</h2>
                        </div>
                        <div class="card-body">
                            <!-- Display the product image -->
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3">
                            {% endif %}
                            <p><strong>Description:</strong> {{ product.description }}</p>
                            <p><strong>Price:</strong> ${{ product.price }}</p>
                            <p><strong>Category:</strong> {{ product.category }}</p>
                            <p><strong>EAN Barcode:</strong> {{ product.barcode }}</p>

                            {% if product.category == 'unit' %}
                                <p><strong>Stock Quantity:</strong> {{ product.stock_quantity }}</p>
                                <form method="post" action="{% url 'cart:cart_add' product.id %}">
                                    {% csrf_token %}
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" name="quantity" value="1" min="1" >
                                    <button type="submit" class="btn btn-outline-dark">
                                        <i class="bi-cart-fill me-1"></i>
                                        Add To Cart
                                    </button>
                                </form>
                            {% elif product.category == 'weight' %}
                                <p><strong>Weight:</strong> {{ product.weight }} kg</p>
                                <form method="post" action="{% url 'cart:cart_add' product.id %}">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <label for="quantity">Weight (kg):</label>
                                    <input type="number" name="quantity" value="1" min="1" max="1">
                                    <button type="submit" class="btn btn-outline-dark">
                                        <i class="bi-cart-fill me-1"></i>
                                        Add To Cart
                                    </button>
                                </form>
                            {% endif %}

                        </div>
                        
                    </div>
                {% elif product_not_found %}
                    <p class="text-center mt-5"><strong>Product not available.</strong></p>
                {% endif %}
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/>
             
            </div>
        </div>
    </div>

</Section>
    
    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Redirect to scan_logic.html when the "Scan Product" button is clicked
        document.getElementById("scanButton").addEventListener("click", function () {
            window.location.href = "{% url 'product:scan_view' %}";
        });
    </script>

    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB5IXNxFwWQfE7u8Lj+XJHAxKlXiG/8rsrtpb6PEdzD828Ii" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>



    {% endblock%}