{% extends 'base.html'%}
{% block content%}
{% csrf_token %}

        <!-- Header-->
    
       <div class="container">
        <div class="row">
            <div class="col-6">
            </br>  </br>
        </br>  </br>
            <center>
                <div class="col-8">
                    <br/> <br/> 
                    <form method="POST" action="{% url 'core:login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <input type="text" class="form-control" name="username" placeholder="Enter Your Username">
                            </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                      </form>

<br/><br/>

                </div>
            </center>
            </div>
            <div class="col-6">
            </br>  </br>
                <img src="/media/homepage_img.png">
            </br>  </br>
        </br>  </br>
    </br>  </br>
           
            </div>

 
        </div>
       </div>
 {% endblock%}