{% extends 'base.html'%}
{% block content%}
{% csrf_token %}

        <!-- Header-->
    


        <div class="container">
            <div class="row">
                <div class="col-7">
        
            
            </br>  </br>
                <center>
                    <div class="col-8">
                        <br/> <br/> 
                        
 <form method="POST" action="{% url 'core:register' %}">
    {% csrf_token %}

    {{form.as_p}}

    <br/><br/>
    <button type="submit" class="btn btn-secondary"> Register </button>
  </form>
    <br/><br/>
    
                    </div>
                </center>
                </div>



                
                <div class="col-5">
                </br>  </br>
            </br>  </br>
                    <img src="/media/homepage_img.png">
                </br>  </br>
            </br>  </br>
        </br>  </br>
               
                </div>
    
     
            </div>
           </div>
 {% endblock%}


