/* static/css/css.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2, p {
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 600px) {
    input, button {
        width: 100%;
    }
}
